<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-button>
    <ion-title>settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-person name="Jonathan" (countClick)="doClick($event)"></app-person>

  <app-person [name]="personName"></app-person>

  <app-person name="Albert qui aime la bière"></app-person>

  <app-person></app-person>

  <p>{{ grade }}</p>

  <app-star max="25" inactiveColor="success" [(starValue)]="grade"></app-star>
</ion-content>
